extends layout

block content
  h1= title
  script(language='javascript', src='http://www.google.com/jsapi')
  script(type='text/javascript', src='/javascripts/dostawa.js')
  body
    h3 2. Porównanie zysku z kosztami dostawy
    #chart
     