extends layout

block content
  h1= title
  script(language='javascript', src='http://www.google.com/jsapi')
  script(type='text/javascript', src='/javascripts/popularnosc.js')
  body
    h3 3. Średnia popularność produktów
    #chart
     